<div class="contenedor" *ngIf="distro() != null">
  <app-significacion></app-significacion>
  <app-ingreso></app-ingreso>
  <app-resultados></app-resultados>
  <div class="peticion" *ngIf="this.servicio.completo()">
    Puede cambiar los valores en cualquier momento.
  </div>
</div>
<div class="contenedor" *ngIf="distro() == null">
  <app-distribucion></app-distribucion>
</div>
<div class="descripcion">
    <p>-Esta aplicacion permite el ingreso de datos ya procesados, tales como la Desviacion Estandar, para 
    hallar Intervalos de Confianza (IC) e Intervalo de Aceptacion (IA) para el contraste de una hipotesis.</p>
    <p>-Al iniciar la aplicacion se solicita una distribucion con la que trabajar, esta solo se puede cambiar
    al comienzo de la misma.</p>
    <p>-Luego habra un cuadro para fijar una significacion con la que trabajar, esta se 
    puede cambiar en todo momento sin tener que volver a ingresar los datos.</p>
    <p>-Luego aparecera otro cuadro con barras de ingreso para cuatro datos numericos y tres opciones para 
    especificar una hipotesis alternativa a contrastar.</p>
    <p>-Cuando todos los datos necesarios son ingresados se visualizan los resultados del IC. en la esquina inferior izquierda y del IA. en la esquina inferior derecha de la pantalla</p>
  </div>